.home {

    .homeContent {
      // background: linear-gradient(115deg, $color-1 0%, transparent 100%);
      background: url('/media/imgBackround.jpg');
      min-height: $minHeight;
      width: 100%;
      max-height: 100%;
      border-radius: $borderRadius;
      position: relative;
      overflow: hidden;  
  
      &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: inherit;
        // background: url('/media/thiam.jpg') no-repeat center/cover;
        z-index: -1;
        filter: brightness(30%);
      }
  
      .content {
        position: absolute;
        top: 20%;
        left: 13%;
        font-family: $font-1;
        .myName{
          font-weight: bold;
        }
  
        h1 {
          font-size: 5rem;
          font-family: $font-3;
          color: $white;
          text-transform: uppercase;
          text-shadow: 3px 6px 2px $black;
        }
        h2 {
          font-size: 2.5rem;
          padding: 1.5rem 0 7rem;
          color: $white;
          text-shadow: 1px 4px 1px $black;
        }
        .pdf {

          a {
            font-size: 1.5rem;
            background: $color-1;
            padding: 1rem 2rem;
            border-radius: 15px;
            box-shadow: 0 5px 1px rgb(15, 15, 15);
            transition: 0.2s ease;
  
            &:hover {
              background-color: rgb(177, 149, 157);
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 850px){
    .homeContent {
      margin: 0 !important;
    }
  }
  @media screen and (max-width:580px){
    .homeContent {
      &:after {
      background: url('/media/Backround - phone.jpg') no-repeat 60% 50%/cover !important;
      }
      h1 {
        font-size: 3rem !important;
      }
      h2 {
        font-size: 1.8rem !important;
      }
    }
  }